footer {
    background-color: $color-primary-footer;
    .redes {
        text-align: center;
        margin-bottom: 0;
        li {
            display: inline-block;
            a {
                .facebook {
                    height: 42px;
                    margin: 10px;              
                }
                .instagram {
                    height: 35px;
                    margin: 10px;     
                }
            }
        }
    
    }
    
}