$font-family:'Outfit', sans-serif;
$color-primary-nav: #712cf9;
$color-secondary-nav: rgba(255, 255, 255, 0.85);
$color-primary-main: white;
$color-secondary-main: #3a0a99;
$color-primary-footer: #3a0a99;
$color-primary-galeria: #3a0a99;
$color-primary-button: #3a0a99;
$color-secondary-button: white;

